@charset "UTF-8";
.a {
  color: #000;
}

*,
*::before,
*::after {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "微軟正黑體";
}

.container {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 20px;
}

p {
  margin-bottom: 1rem;
}

section {
  margin-bottom: 2rem !important;
}

/* css原生變數,可以被編譯出去*/
:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
}

/*Sass變數 不會被編譯出去*/
h1 {
  background: linear-gradient(45deg, rgb(112, 210, 239) 0%, rgb(84, 223, 239) 50%, rgb(188, 246, 237) 100%);
  color: #fff;
  border: 5px solid #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
}

.abc {
  color: blue;
}

/*04.Sass流程控制*/
/* random 為sass內建函式提供亂數功能，範例是1~3隨機*/
.mybox {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*@if...@else if...@else*/
  background: rgb(101, 101, 189);
  /* 字串非為引號、沒引號，判斷會通過*/
  -webkit-box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.8);
  /*使用and運算式條件成立*/
  color: yellow !important;
  /* 使用 or 運算式其中之一成立 ,不能使用|| */
  font-weight: bolder;
  font-size: 50px;
  /*使用not反轉運算式結果*/
  border: 10px dashed yellowgreen;
  /* 內建提供函式,類似3元運算*/
  /*因此if 沒有@ */
  /*($mySpacing > 10px(值), (符合就這)10px solid red, (不符合就這)10px solid black); */
  outline: 10px solid red;
}

/* @for $i from 1 through 3 ,迴圈變數1~3*/
/*@for..through 3 =>    包含3*/
.through-1 {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #aaa;
}

.through-2 {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: #aaa;
}

.through-3 {
  width: 150px;
  height: 150px;
  display: inline-block;
  background-color: #aaa;
}

/* @for $i from 1 to 3 ,迴圈變數1,2*/
/*@for ...to 3  不包含3*/
.to-1 {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #aaa;
}

.to-2 {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: #aaa;
}

/*  05.巢狀(嵌套,nested) */
#section05 p {
  border-bottom: 1px solid #007bff;
}
#section05 .menu {
  margin-top: 2rem;
  padding: 0;
  font-size: 0;
}
#section05 .menu li {
  display: inline-block;
  font-size: 1rem;
  width: 100px;
  text-align: center;
}
#section05 .menu li a {
  display: block;
  background: #000;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  /* & 符號表示父層選擇器 */
}
#section05 .menu li a:hover {
  color: #ffc107;
  background-color: darkcyan;
}
#section05 .menu li + li {
  border-left: 1px solid #aaa;
}

/*& 與 clearfix */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* 父結構 block*/
.sidebar {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* 子元素 __element*/
}
.sidebar__item {
  color: #17a2b8;
  padding: 1rem;
  border: 1px solid #ffc107;
  text-decoration: none;
  background: rgb(204, 225, 246);
  /* 修飾子元素狀態 --modifier*/
}
.sidebar__item--active {
  background-color: rgb(4, 66, 116);
}
.sidebar__item:hover {
  background-color: rgb(211, 211, 211);
}
.sidebar__item a {
  color: #fff;
  display: block;
  line-height: 32px;
  text-decoration: none;
}

/*練習*/
#exercise .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#exercise .col {
  padding: 10px;
  margin: 1%;
  border-radius: 1rem;
  background-color: rgb(253, 254, 255);
  border: 3px solid #ffc107;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#exercise .col:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
#exercise img {
  border-radius: 1rem 1rem 0px 0px;
}
#exercise a {
  text-decoration: none;
  color: #dc3545;
  font-size: larger;
  -webkit-transition: 1s;
  transition: 1s;
}
#exercise a:hover {
  text-decoration: underline;
  color: #28a745;
}

/*06.繼承*/
.box3, .box2, .box1 {
  width: 50px;
  height: 50px;
  float: left;
}

#extend {
  margin-top: 1rem;
  overflow: auto;
}

.box1 {
  background: #000;
}

.box2 {
  background: rgb(152, 34, 34);
}

.box3 {
  background: #28a745;
}

/*07*/
.box4 {
  background: #000;
  /*加法*/
  width: 100px;
  /*有無單位都可相加*/
  width: 100px;
  height: 100px;
  /*減法*/
  width: 100px;
  /*有無單位都可相減*/
  width: 100px;
  height: 100px;
  /*乘法*/
  width: 100px;
  /*   width: 50px * 2; *數字 ，不可有單位 */
  /*除法*/
  /*width: 100px / 2; 會通過但CSS無法使用*/
  width: 100px/2;
  /*使用變數除法 不用括號*/
  height: 50px;
  height: 30;
  /*單位會消掉*/
  /*餘數*/
  margin-top: 20px;
}

/*08.函式*/
/*隨機判斷字體大小*/
.funcbox {
  width: 300px;
  height: 100px;
  color: #17a2b8;
  background: rgb(1, 21, 44);
  font-size: 60px;
  width: 350px;
  height: 100px;
}

.rem {
  font-size: 1rem;
  padding: 3rem;
}

/*08.函式*/
#section08 .container p {
  font-size: font-size(2);
  line-height: 27px;
  background: #ff8da1;
}

/*09.Mixins*/
.mixinTry {
  width: 100px;
  height: 100px;
  background: #aaa;
}

.boxflex {
  /*如有不使用的參數要改成null*/
  /*產生樣式*/
  width: 100px;
  height: 100px;
  background: #ff9;
  border: 5px solid #aaa;
  outline: 10px dashed pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  display: inline-block;
  color: #ff9;
  text-decoration: none;
  line-height: 1.5;
  padding: 0.5rem 0.75rem;
  margin: 0 0.2rem;
  border-radius: 0.25rem;
}

.btn-dark {
  -webkit-box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.8);
  background-color: #000;
}
.btn-dark:hover {
  background-color: #4d4d4d;
}

.btn-primary {
  -webkit-box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.8);
  background-color: #007bff;
}
.btn-primary:hover {
  background-color: #0062cc;
}

.btn-success {
  -webkit-box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.8);
  background-color: #28a745;
}
.btn-success:hover {
  background-color: #1e7e34;
}

.btn-danger {
  -webkit-box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.8);
  background-color: #dc3545;
}
.btn-danger:hover {
  background-color: #bd2130;
}

/*10.使用mixin + @content 設計RWD*/
/*
#news {
  @include sm {}

  @include md {}

  @include lg {}

  @include xl {}

  @include xxl {}
}*/
#section10 .container {
  width: 100%;
}
#section10 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#section10 .col {
  width: 100%;
  padding: 15px;
  border: 1px solid #333;
}
#section10 .col + .col {
  margin-top: 20px;
}
@media (min-width: 576px) {
  #section10 .container {
    width: 75%;
  }
  #section10 .col {
    width: 50%;
  }
  #section10 .col + .col {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  #section10 .col {
    width: 33.333%;
  }
}
@media (min-width: 992px) {
  #section10 .col {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  #section10 .col {
    width: 20%;
  }
}
@media (min-width: 1400px) {
  #section10 .col {
    width: 10%;
  }
}

/*list 列表 像js陣列，索引從1開始，不是0 */
/* nth(list,index)取出list裡面的item值*/
.list {
  width: 100px;
  width: 200px;
  width: 300px;
  border: 1px solid red;
  border: 1px solid blue;
  border: 1px solid green;
}

/*index(list,item)取出索引*/
.index {
  line-height: 1;
  line-height: 2;
  line-height: 3;
  z-index: 1;
  z-index: 2;
  z-index: 3;
}

/*length(list)取出list的長度*/
.length {
  z-index: 3;
}

.bg-red {
  background-color: red;
}

.bg-yellow {
  background-color: yellow;
}

.bg-blue {
  background-color: blue;
}

.each-bg-red {
  background-color: red;
}

.each-bg-yellow {
  background-color: yellow;
}

.each-bg-blue {
  background-color: blue;
}

/* map */
.nth-map {
  color: primary red;
}

.bg-primary {
  background-color: red;
}

.bg-secondary {
  background-color: green;
}

.bg-warning {
  background-color: orange;
}

.map-keys {
  color: size1, size2, size3;
}

.size1 {
  color: red;
}

.size2 {
  color: red;
}

.size3 {
  color: red;
}

.w1 {
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.w2 {
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
}

.w3 {
  -webkit-box-shadow: 0 0 30px black;
          box-shadow: 0 0 30px black;
}

.btn-default {
  width: 100px;
  height: 100px;
}

.btn-box1 {
  width: 200px;
  height: 200px;
}

.btn-box2 {
  width: 300px;
  height: 300px;
}